<h1><%= @recipe.title %></h1>
 
<p><%= @recipe.body %></p>
 
<p><%= @recipe.created_at %></p>

<%= link_to "Edit", edit_recipe_path(@recipe) %>


<%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?"} %>

<hr>
 
<h2>Add a comment</h2>
<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %><li>
    <% end %>
  </ul>
<% end %>
<%= form_for [@recipe, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<h2>Comments</h2>
 
<% @recipe.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <hr>
<% end %>